<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Elegante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/estilo.css'>
    <script src='../js/bootstrap.min.js'></script>
</head>

<body>

    <!-- Menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../Index.html">Elegante</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Index.html">Início</a></li>
                    <li><a href="./Moda.html">Moda</a></li>
                    <li><a href="./Beleza.html">Beleza</a></li>
                    <li><a href="./Cultura.html">Cultura</a></li>
                    <li class="active"><a href="#">Assinar<span class="sr-only">(current)</span></a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container cor-fundo">
        <form class="text-left">

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <label for="title">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>

                <div class="col-md-2">
                    <label for="release">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="CPF">
                </div>

                <div class="col-md-2">
                    <label for="release">Nascimento</label>
                    <input type="date" class="form-control" id="nascimento">
                </div>
            </div>

            <br><br>
            <br><br>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label for="title">Sexo</label>
                    <input type="text" class="form-control" id="sexo" placeholder="Sexo">
                </div>

                <div class="col-md-2">
                    <label for="release">Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone">
                </div>

                <div class="col-md-4">
                    <label for="release">E-mail</label>
                    <input type="text" class="form-control" id="email" placeholder="E-mail">
                </div>
            </div>

            <br><br>
            <br><br>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <label for="title">Endereço</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Endereço">
                </div>

                <div class="col-md-2">
                    <label for="release">Bairro</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Bairro">
                </div>

                <div class="col-md-4">
                    <label for="release">CEP</label>
                    <input type="text" class="form-control" id="email" placeholder="CEP">
                </div>
            </div>

            <br><br>
            <br><br>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <label for="title">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                </div>

                <div class="col-md-4">
                    <label for="release">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="Estado">
                </div>
            </div>

            <br><br>
            <br><br>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <label for="title">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                </div>
            </div>

            <br><br>
            <br><br>

            <hr class="linha-separacao">

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <label for="title">Usuário</label>
                    <input type="text" class="form-control" id="usuario" placeholder="Usuário">
                </div>

                <div class="col-md-4">
                    <label for="release">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                </div>
            </div>

            <br><br>
            <br><br>

            <div class="form-group">
                <div class="col-md-2 col-md-offset-5">
                    <button type="button" class="btn btn-primary">Entrar</button>
                    <button type="button" class="btn btn-default">Voltar</button>
                </div>
            </div>

            <br><br>
            <br><br>
        </form>

    </div>

    <br><br>
    <br><br>

    <footer class="panel-footer">
        <p>Elegante Magazine</p>
    </footer>

</body>

</html>