<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Elegante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/estilo.css'>
    <script src='../js/bootstrap.min.js'></script>
</head>

<body>

    <!-- Menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../Index.html">Elegante</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Index.html">Início</a></li>
                    <li><a href="./Moda.html">Moda</a></li>
                    <li class="active"><a href="#">Beleza<span class="sr-only">(current)</span></a></li>
                    <li><a href="./Cultura.html">Cultura</a></li>
                    <li><a href="./Assinar.html">Assinar</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <a>
                    <img src="../images/antonina-bukowska-9Pq42qFP9vY-unsplash.jpg" class="img-responsive img-circle" alt="Responsive image">
                </a>
                <h4 class="text-center">Conheça as particularidades da mulher asiática e prepare-se para agradar em cheio essa cliente tão singular e exigente</h4>
                <p>Cabelo escuro, grosso, forte e com brilho; pele com fundo amarelo; olhos enigmáticos e puxadinhos. Eis características que costumam descrever muito bem a beleza oriental das japonesas, coreanas, chinesas e suas descendentes. Raio X do
                    cabelo – As asiáticas costumam ter a cabeleira grossa (mas há as bem fininhas também) e forte, cuja cor varia entre castanho-escuro e preto. “Existem três tipos de fios, classificados mundialmente de acordo com a forma de cada um:
                    o caucasoide, da raça branca; os negroides, da negra; e os mongoloides, característicos de pessoas da amarela. Estes últimos têm um formato circular, são espessos e lisos quando comparados aos demais, graças ao fato de possuírem várias
                    capas de células de cutícula. Eles também têm mais melanina do tipo eulelanina (escura), por isso a cor negra da fibra. A distribuição da queratina no córtex é homogênea, conferindo-lhe características como grosso e lisinho”, explica
                    Valcinir Bedin, dermatologista, tricologista e presidente da Sociedade Brasileira do Cabelo (SBC). Análise da pele – Além desses padrões, a beleza oriental é caracterizada pela cútis mais amarelada, fato que pede uma análise criteriosa
                    para as mudanças de tonalidade do fio. Mas nada é impossível! Ainda bem, pois assim como grande parte das mulheres de todas as raças, elas também desejam ser loiras ou pelo menos ganhar um ar iluminado por meio de luzes. “Como o cabelo
                    tem um pigmento muito escuro se comparado a outros tipos, a descoloração precisa ser vigorosa e, se não for bem-feita, com técnica apropriada, pode fragilizar a haste capilar. Por isso todo cuidado é pouco na hora de realizar esse
                    procedimento químico, para não ocasionar a quebra da fibra”, avisa o médico.
                </p>
            </div>

            <div class="col-xs-6 col-md-4">
                <a>
                    <img src="../images/kim-carpenter-IHIgnhLvz5Q-unsplash.jpg" class="img-responsive img-circle" alt="Responsive image">
                </a>
                <h4 class="text-center">Mulheres de cabelos raspados: liberdade, estilo e atitude</h4>
                <p>Cabelo comprido é coisa de mulher? Cabelo raspado é coisa de homem? Na-na-ni-na-não! É verdade que muitas pessoas ainda associam os cabelos longos à feminilidade, mas está na hora de isso mudar, não é mesmo? E já está mudando! Prova disso
                    é que cada vez mais o número de mulheres com o cabelo raspado vem aumentando e é até mesmo uma tendência. Os cortes de cabelo raspado são ideais para meninas desapegadas, que não fazem questão de manter os fios no estilo Rapunzel.
                    É claro que é necessária uma dose de coragem para apostar nesse estilo, mas aquela ideia de que só meninas super descoladas e jovens podem raspar a cabeça está mais do que errada. O cabelo raspado feminino combina com mulheres de todas
                    as idades, cores e preferência sexual. Além disso, existem diversas formas de raspar o cabelo, que podem agradar diferentes estilos. Raspar a cabeça também pode ser uma ótima alternativa de corte para o big chop para quem está passando
                    pela transição capilar. Que tal apostar nesse visual? Veja abaixo algumas opções de corte de cabelo raspado feminino para você se inspirar. Cabelo todo raspado. Também conhecido como “buzz cut”, o famoso cabelo careca fica ótimo tanto
                    para meninas com o cabelo crespo, quanto cacheadas ou lisas. Uma das principais vantagens de ter esse cabelo é a liberdade e a praticidade. No começo é, de fato, uma mudança radical, mas o tempo se encarrega de tornar esse corte único
                    e especial.
                </p>
            </div>

            <div class="col-xs-6 col-md-4">
                <a>
                    <img src="../images/isabell-winter-t7_CN7g5aRA-unsplash.jpg" class="img-responsive img-circle" alt="Responsive image">
                </a>

                <h4 class="text-center">Máscara Facial</h4>
                <p>As máscaras faciais descartáveis - sejam elas hidratantes, removedoras de cravos, clareadoras ou secativas - viraram febre no Brasil nos últimos tempos, mas já faziam parte dos truques de belezas das asiáticas graças ao seu "efeito Cinderela",
                    ou seja, um "resultado imediado" após alguns minutos de uso. Ideais para limpar a pele, diminuir a oleosidade e revitalizar e deixar a pele mais iluminada, as máscaras podem ser encontradas em qualquer farmácia por preços que variam
                    entre R$ 3,50 e R$ 15. Praticamente todos os tipos de pele são candidatas ao uso das máscaras faciais. Só é preciso escolher a ideal. Uma pele oleosa não tem indicação para hidratações mais pesadas, pois isso pode levar ao aparecimento
                    de cravos. Já uma pele mais sensível não deve usar as máscaras secativas. O ideal é sempre conversar com um profissional, pois algumas pessoas desenvolvem irritações. A pele deve estar limpa. O tempo de uso e a quantidade de vezes
                    na semana varia de acordo com o produto. É importante seguir a indicação. A aplicação pode ser de duas vezes por semana até quinzenal, dependendo do produto e da sua concentração. A maioria das máscaras em papel não precisam ser removidas
                    depois, pois tem uma textura sérum. Máscaras em creme atuam por alguns minutos e depois devem ser enxaguadas.</p>
            </div>
        </div>
    </div>


    <br><br>
    <br><br>

    <footer class="panel-footer">
        <p>Elegante Magazine</p>
    </footer>
</body>

</html>