<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Elegante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/estilo.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../Index.html">Elegante</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Index.html">Início</a></li>
                    <li><a href="./Moda.html">Moda</a></li>
                    <li><a href="./Beleza.html">Beleza</a></li>
                    <li class="active"><a href="#">Cultura<span class="sr-only">(current)</span></a></li>
                    <li><a href="./Assinar.html">Assinar</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h3>Cabelo Black Afro</h3>
                <p>Quem ouve falar em cabelos em estilo black ou afro já pensam em uma enorme cabeleira, armada sem vida. Mas não é assim que cabeleireiros e pessoas adeptas a essa moda enxergam o estilo. Na verdade o cabelo afro torna-se um corte muito
                    pedido pela população negra que por já possuir um cabelo crespo dão ainda mais volume para colocá-lo em evidência. O cabelo que possui características de volume acentuado necessita de muito cuidado e hidratação para serem conservados
                    bonitos. Uns dos produtos mais indicados é o uso excessivo de condicionadores, cremes e reparadores de pontas para um efeito de leveza e brilho.
                </p>

                <h3>Os Cachinhos no Estilo Afro</h3>
                <p>As mulheres negras esbanjam beleza e naturalidade com o uso de penteados no estilo Black ou afro, fazendo de seus cachinhos um verdadeiro black Power. Os penteados seguem as mais diversas formas, para todos os gostos eles modificam o visual
                    para ocasiões especiais ou mesmo no dia a dia. A rapidez na produção do penteado é realmente impressionante, bom para os convites de última hora. Especialistas recomendam o uso de faixas, lenços ou tiaras na acomodação do armado, que
                    deve ser penteado sempre com o pente, aumentando-o ainda mais.
                </p>

                <h3>O Black Power Das Famosas</h3>
                <p>Sucesso desde os anos 80 em pleno estilo rock-roll os cabelos balck power voltam a moda nas cabeças de atrizes atuais. Exemplos como Sheron Menezes, Negra Li e Halle Berry invadem a moda dos armados, com um toque de beleza e naturalidade
                    conferida nos fios. Profissionais acreditam no uso de cortes black por uma retomada a culturas anteriores, segundo eles do mesmo modo que tendências de roupas do passado voltam os estilos de cabelos marcantes também tendem a voltar,
                    ainda com mais sucesso.É o caso de muitas mulheres que confessam esquecer de vez o uso de secadores e chapinhas diariamente; assumindo sua verdadeira identidade.
                </p>

            </div>

            <div class="col-xs-6">
                <img src="../images/jessica-felicio-_cvwXhGqG-o-unsplash.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>



    <br><br>
    <br><br>

    <footer class="panel-footer">
        <p>Elegante Magazine</p>
    </footer>

</body>

</html>