<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Elegante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/estilo.css'>
    <script src='../js/bootstrap.min.js'></script>
</head>

<body>

    <!-- Menu -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="../Index.html">Elegante</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../Index.html">Início</a></li>
                    <li class="active"><a href="#">Moda<span class="sr-only">(current)</span></a></li>
                    <li><a href="./Beleza.html">Beleza</a></li>
                    <li><a href="./Cultura.html">Cultura</a></li>
                    <li><a href="./Assinar.html">Assinar</a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <h1 class="text-center">Moda</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center">Moda se refere a uma tendência de consumo, que pode ser de vestuário, calçados, jóias e acessórios. A moda reflete o comportamento, os valores, costumes, hábitos, da sociedade em um determinado momento.</p>
        </div>
    </div>

    <br><br>


    <div class="row cor-fundo">
        <div class="container">
            <div class="col-md-4">
                <img src="../images/eloise-ambursley-59Td06omPVc-unsplash.jpg" class="img-responsive" alt="Responsive image">
            </div>

            <div class="col-md-4">
                <img src="../images/george-bohunicky-qJKT2rMU0VU-unsplash.jpg" class="img-responsive" alt="Responsive image">
                <br><br>
                <img src="../images/kris-atomic-Xa8fX8bQCgs-unsplash.jpg" class="img-responsive" alt="Responsive image">
            </div>

            <div class="col-md-4">
                <img src="../images/raphael-lovaski-pxax5WuM7eY-unsplash.jpg" class="img-responsive" alt="Responsive image">
                <br><br>
                <img src="../images/ayo-ogunseinde-THIs-cpyebg-unsplash.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>



    <br><br>
    <br><br>

    <footer class="panel-footer">
        <p>Elegante Magazine</p>
    </footer>
</body>

</html>